name: ci

on:
  push:
    branches:
      - master
      - main

# 必须添加权限配置，否则 GITHUB_TOKEN 没有发送事件的权限
permissions:
  contents: write
  issues: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install uv
      - run: uv sync
      - run: source .venv/bin/activate
      - run: mkdocs gh-deploy --force

      # 触发 static.yml 的关键步骤
      # - name: Trigger static.yml workflow
      #   uses: peter-evans/repository-dispatch@v3
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     event-type: trigger-static-workflow
      #     repository: ${{ github.repository }}
      #     client-payload: '{"ref": "${{ github.ref }}"}'